.thankyouhead{
    /* display: flex; */
    font-size: 30px;
    color:brown;
    font-weight: bold;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
}
.thankyouheadkeep{
    width: 17vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 30px;
    color:white;
    background-color: blue;
    /* font-weight: bold; */
    border-radius: 5px;
    text-align: center;
}
.thankyou{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width:300px) and (max-width:760px){
    .thankyouheadkeep{
        width: 67vw;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 30px;
        color:white;
        background-color: blue;
        /* font-weight: bold; */
        border-radius: 5px;
        text-align: center;
    }
}
